{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>TJStar - {% block title %}{% endblock %}</title>
<style>
.container {
  color: #000;
  margin: 0 auto;
  text-align: center;
}

.li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.li span {
  display: block;
  font-size: 4.5rem;
}

.message {
  font-size: 4rem;
  display: none;
  padding: 1rem;
}

.emoji {
  padding: 0 .25rem;
}
    </style>

<link href="{% static 'css/bootstrap.css' %}" rel='stylesheet' type='text/css' />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--<script src="js/jquery.easydropdown.js"></script>-->
<!--start slider -->
<link rel="stylesheet" href="{% static 'css/fwslider.css' %}" media="all">
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/fwslider.js' %}"></script>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript">
<!--end slider -->
<script type="text/javascript">
        $(document).ready(function() {
            $(".dropdown img.flag").addClass("flagvisibility");

            $(".dropdown dt a").click(function() {
                $(".dropdown dd ul").toggle();
            });

            $(".dropdown dd ul li a").click(function() {
                var text = $(this).html();
                $(".dropdown dt a span").html(text);
                $(".dropdown dd ul").hide();
                $("#result").html("Selected value is: " + getSelectedValue("sample"));
            });

            function getSelectedValue(id) {
                return $("#" + id).find("dt a span.value").html();
            }

            $(document).bind('click', function(e) {
                var $clicked = $(e.target);
                if (! $clicked.parents().hasClass("dropdown"))
                    $(".dropdown dd ul").hide();
            });


            $("#flagSwitcher").click(function() {
                $(".dropdown img.flag").toggleClass("flagvisibility");
            });
        });
     </script>
<script type="text/javascript" src="{% static 'js/jquery.fancybox.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" media="screen" />
   <script type="text/javascript">
		$(document).ready(function() {
			/*
			 *  Simple image gallery. Uses default settings
			 */

			$('.fancybox').fancybox();

		});
	</script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="row">
			  <div class="col-md-12">
				 <div class="header-left">
					 <div class="logo">
						<a href="index.html"><img src="{% static 'images/logo.png' %}" alt=""/></a>
					 </div>
					 <div class="menu">
						  <a class="toggleMenu" href="#"><img src="{% static 'images/nav.png' %}" alt="" /></a>
						    <ul class="nav" id="nav">
						    	<li><a href="#">Event Information</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
								<li><a href="{% url 'speaker' %}">Speakers</a></li>
								<div class="clear"></div>
							</ul>
							<script type="text/javascript" src="{% static 'js/responsive-nav.js' %}"></script>
				    </div>
	    		    <div class="clear"></div>
	    	    </div>
	      </div>
		 </div>
	    </div>
	</div>
	{% block body %}{% endblock %}
		<div class="footer">
			<div class="container">
			</div>
		</div>
</body>
</html>